<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="websocketMessage">

	<select id="sequence" resultType="int">
		select websocket_message_seq.nextval from dual
	</select>
	<insert id="add">
		insert into websocket_message(
			websocket_message_no, 
			websocket_message_type,
			websocket_message_sender, 
			websocket_message_receiver,
			websocket_message_content,
			websocket_message_time
		)
		values(
			#{websocketMessageNo}, 
			#{websocketMessageType},
			#{websocketMessageSender}, 
			<!-- null이 들어갈 수 있도록 형태를 명시 -->
			#{websocketMessageReceiver, jdbcType=VARCHAR},
			#{websocketMessageContent},
			#{websocketMessageTime}
		)
	</insert>
	
	<!-- 비회원용 (dm제외)-->
	<select id="list" resultType="WebsocketMessageDto">
		<include refid="top-n-header"></include>
		select * from websocket_message
		where websocket_message_type != 'dm'
		 order by websocket_message_no asc
		<include refid="top-n-footer"></include>
	</select>
	<!-- 회원용(dm포함) -->
	<select id="listMember" resultType="WebsocketMessageDto">
		<include refid="top-n-header"></include>
		select * from websocket_message 
		where 
			websocket_message_type = 'chat' 
			or
			websocket_message_type = 'system'
			or 
			(
				websocket_message_type = 'dm'
				and
				(
					websocket_message_sender = #{memberId}
					or
					websocket_message_receiver = #{memberId}
				)
			)
			order by websocket_message_no asc
		<include refid="top-n-footer"></include>
	</select>
	
	<!-- react에 보내기 쉽게 조회 -->
	<select id="listMemberComplete" resultType="WebsocketMessageVO">
	<include refid="top-n-header"></include>
		select
			WM.websocket_message_no "no",
			 WM.websocket_message_type "type",
			 WM.websocket_message_sender "sender_member_id",
			 M.member_level "sender_member_level",
			 WM.websocket_message_receiver "receiver_member_id",
			 WM.websocket_message_content "content",
			 WM.websocket_message_time "time" 
		from 
			websocket_message WM 
				left outer join member M 
					on WM.websocket_message_sender = M.member_id
					
			where 
			websocket_message_type = 'chat' 
			or
			websocket_message_type = 'system'
			<!-- DM은 회원만(memberID !=null) 조회-->
			<if test="memberId != null">
			or 
			(
				websocket_message_type = 'dm'
				and
				(
					websocket_message_sender = #{memberId}
					or
					websocket_message_receiver = #{memberId}
				)
			)
			</if>
			
			<!-- 더보기를 위한 조건 추가 - firstMessageNo가 있으면 -->
			<if test="firstMessageNo != null">
			<![CDATA[ 
			and websocket_message_no < #{firstMessageNo}
			]]>
			</if>
			order by websocket_message_no desc
			<include refid="top-n-footer"></include>
			
			<!-- top n query로 만들어진 최종 결과를 다시 정렬(테이블 별칭 사용 불가) -->
			order by "no" asc
	</select>
	
	<sql id="top-n-header">
		<if test="beginRow != null and endRow != null">
		select * from (
  			select rownum rn, TMP.* from(
  		</if>
	</sql>
	<sql id="top-n-footer">
		<if test="beginRow != null and endRow != null">
		 	)TMP
		)
		where rn between #{beginRow} and #{endRow}
		</if>
	</sql>
		
</mapper>