<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="emp">
 
 	<select id="list" resultType="EmpDto">
 		select * from emp
 	</select>
 	<select id="find" resultType="EmpDto">
 		select * from emp where instr(#{column} = #{keyword}) > 0 
 		order by #1 asc, emp_no asc
 	</select>
 
 </mapper>